
.wrapper_slider{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    height: 100%;
}

.rslides img {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    border: 0;
}

 .rslides_nav{
    width: 78px;
    height: 100px;
    display: block;
    opacity: .3;
}
.prev{
    background: url("../assets/left-arrow.png");
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 2;
}
.next{
    background: url("../assets/right-arrow.png");
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 2;
}
.banner .rslides_nav{
    display: none;
}
